/*Theme that makes rocketchat look like its rc3 2020*/
/*May be slightly broken*/
/*(c) Baschdel <baschdel@disroot.org> 2021 CC0-BY-SA*/
/*Based on tthe default rocketchat css*/

@media (prefers-color-scheme: dark) {
	:root {
		--primary-c1: #f00efa;
		--primary-c2: rgba(104, 0, 231, 1);
		--primary-c3: #4ce9f8;
		--primary-c4: rgba(16, 14, 35, 1);

		/*shaded versions*/
		--primary-c1-s1: rgba(103, 2, 149, 1);
		--primary-c2-s1: rgba(65, 0, 139, 1);
		--primary-c3-s1: rgba(0, 118, 169, 1);

		--primary-c1-s2: rgba(68, 9, 105, 1);
		--primary-c2-s2: rgba(42, 0, 94, 1);
		--primary-c3-s2: rgba(2, 93, 132, 1);

		--primary-c1-s3: rgba(36, 0, 56, 1);
		--primary-c2-s3: rgba(20, 0, 47, 1);
		--primary-c3-s3: rgba(0, 42, 58, 1);

		--secondary-c1: rgba(253, 41, 79, 1);
		--secondary-c2: rgba(22, 10, 254, 1);
		--secondary-c3: rgba(255, 235, 216, 1);
		--secondary-c4: rgba(1, 2, 42, 1);
		
		--primary-ctext: #ccc;
		--secondary-ctext: #aaa;
		--highlight-ctext: #fff;
	}

	:root {
		--color-dark-100: #0c0d0f;
		--color-dark-90: #1e232a;
		--color-dark-80: #2e343e;
		--color-dark-70: #53585f;
		--color-dark-30: #9da2a9;
		--color-dark-20: #caced1;
		--color-dark-10: #e0e5e8;
		--color-dark-05: #f1f2f4;
		--color-dark-blue: #175cc4;
		--color-blue: #1d74f5;
		--color-light-blue: #4eb2f5;
		--color-lighter-blue: #e8f2ff;
		--color-purple: #861da8;
		--color-red: #f5455c;
		--color-dark-red: #e0364d;
		--color-orange: #f38c39;
		--color-yellow: #ffd21f;
		--color-dark-yellow: #f6c502;
		--color-green: #2de0a5;
		--color-dark-green: #26d198;
		--color-darkest: #1f2329;
		--color-dark: #2f343d;
		--color-dark-medium: #414852;
		--color-dark-light: #6c727a;
		--color-gray: #9ea2a8;
		--color-gray-medium: #cbced1;
		--color-gray-light: #e1e5e8;
		--color-gray-lightest: #f2f3f5;
		--color-black: #000;
		--color-white: #fff;
		--rc-color-error: var(--color-red);
		--rc-color-error-light: #e1364c;
		--rc-color-alert: var(--color-yellow);
		--rc-color-alert-light: var(--color-dark-yellow);
		--rc-color-success: var(--color-green);
		--rc-color-success-light: #25d198;
		--rc-color-button-primary: var(--color-blue);
		--rc-color-button-primary-light: var(--color-dark-blue);
		--rc-color-alert-message-primary: var(--color-blue);
		--rc-color-alert-message-primary-background: #f1f6ff;
		--rc-color-alert-message-secondary: #7ca52b;
		--rc-color-alert-message-secondary-background: #fafff1;
		--rc-color-alert-message-warning: #d52d24;
		--rc-color-alert-message-warning-background: #fff3f3;
		--rc-color-primary: var(--color-dark);
		--rc-color-primary-background: var(--color-dark);
		--rc-color-primary-darkest: var(--color-darkest);
		--rc-color-primary-dark: var(--color-dark-medium);
		--rc-color-primary-light: var(--color-gray);
		--rc-color-primary-light-medium: var(--color-gray-medium);
		--rc-color-primary-lightest: var(--color-gray-lightest);
		--rc-color-content: var(--color-white);
		--rc-color-link-active: var(--rc-color-button-primary);
		--rc-color-announcement-text: #095ad2;
		--rc-color-announcement-background: #d1ebfe;
		--rc-color-announcement-text-hover: #01336b;
		--rc-color-announcement-background-hover: #76b7fc;
		--content-background-color: var(--primary-c4);
		--primary-background-color: #04436a;
		--primary-font-color: var(--primary-ctext);
		--primary-action-color: var(--primary-c3);
		--secondary-background-color: #f4f4f4;
		--secondary-font-color: #a0a0a0;
		--secondary-action-color: #ddd;
		--component-color: #f2f3f5;
		--pending-color: #fcb316;
		--error-color: #bc2031;
		--success-color: #2de0a5;
		--selection-color: #02acec;
		--attention-color: #9c27b0;
		--tertiary-font-color: var(--transparent-lightest);
		--link-font-color: var(--primary-action-color);
		--info-font-color: var(--secondary-font-color);
		--custom-scrollbar-color: var(--transparent-darker);
		--body-font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Helvetica Neue","Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Meiryo UI",Arial,sans-serif;
		--text-size: 0.875rem;
		--header-min-height: 60px;
		--toolbar-height: 55px;
		--footer-min-height: 70px;
		--rooms-box-width: 280px;
		--flex-tab-width: 380px;
		--flex-tab-webrtc-width: 400px;
		--flex-tab-webrtc-2-width: 850px;
		--border: 2px;
		--border-radius: 2px;
		--rc-status-online: var(--rc-color-success);
		--rc-status-away: var(--rc-color-alert);
		--rc-status-busy: var(--rc-color-error);
		--rc-status-invisible: var(--color-gray-medium);
		--rc-status-offline: var(--transparent-darker);
		--rc-status-invisible-sidebar: var(--rc-color-primary-darkest);
		--default-padding: 1.5rem;
		--default-small-padding: 1rem;
		--status-bullet-size: 10px;
		--status-bullet-radius: 50%;
		--account-username-weight: 700;
		--status-name-weight: 400;
		--default-font-weight-header: 500;
		--text-default-size: 1rem;
		--text-default-weight: 500;
		--text-small-size: 0.875rem;
		--text-small-weight: 500;
		--text-heading-size: 1.375rem;
		--text-heading-weight: 700;
		--text-label-size: 075rem;
		--text-label-weight: 600;
		--text-tiny-size: 075rem;
		--text-tiny-weight: 400;
		--text-micro-size: 0.625rem;
		--text-micro-weight: 700;
		--gap-between-elements: 2.5rem;
		--label-margin-bottom: 1rem;
		--button-square-size: 36px;
		--button-padding: 0.782rem;
		--button-padding-small: 0 0.5rem;
		--button-height-small: 28px;
		--button-text-size-small: 13px;
		--button-text-size: var(--input-font-size);
		--button-border-width: var(--border);
		--button-border-radius: var(--border-radius);
		--button-disabled-background: var(--color-gray-light);
		--button-disabled-text-color: var(--color-white);
		--button-primary-background: var(--rc-color-button-primary);
		--button-primary-text-color: var(--color-white);
		--button-cancel-color: var(--rc-color-error);
		--button-secondary-background: var(--color-gray-medium);
		--button-secondary-text-color: var(--color-dark-medium);
		--input-font-size: 0.875rem;
		--input-title-text-size: var(--input-font-size);
		--input-title-color: #2d343d;
		--input-text-color: var(--color-dark-medium);
		--input-placeholder-color: var(--color-gray-medium);
		--input-icon-color: var(--secondary-ctext);
		--input-border-color: var(--color-gray-light);
		--input-border-width: var(--border);
		--input-border-radius: var(--border-radius);
		--input-description-text-color: var(--color-gray);
		--input-description-text-size: var(--input-font-size);
		--input-error-color: var(--rc-color-error);
		--popup-list-border-radius: var(--border-radius);
		--popup-list-background: var(--color-white);
		--popup-list-background-hover: var(--color-gray-lightest);
		--popup-list-selected-background: var(--color-gray-lightest);
		--popup-list-name-color: #2d343d;
		--popup-list-name-size: 1rem;
		--tags-border-width: var(--border);
		--tags-border-radius: var(--border-radius);
		--tags-border-color: var(--color-gray-light);
		--tags-text-color: var(--rc-color-primary);
		--tags-background: #f2f3f5;
		--tags-avatar-size: 20px;
		--select-avatar-size: 48px;
		--select-avatar-preview-size: 150px;
		--select-avatar-upload-background: var(--color-gray-light);
		--select-avatar-upload-color: #2d343d;
		--sidebar-width: 280px;
		--sidebar-small-width: 90%;
		--sidebar-background: var(--rc-color-primary-background);
		--sidebar-background-hover: var(--rc-color-primary-dark);
		--sidebar-background-light: var(--rc-color-primary-lightest);
		--sidebar-background-light-hover: var(--primary-c2);
		--sidebar-background-light-active: var(--primary-c2);
		--sidebar-default-padding: 24px;
		--sidebar-small-default-padding: 16px;
		--sidebar-extra-small-default-padding: 12px;
		--sidebar-footer-height: 48px;
		--sidebar-small-header-padding: var(--sidebar-small-default-padding);
		--sidebar-flex-search-background: var(--color-white);
		--sidebar-flex-search-placeholder-color: var(--color-gray);
		--sidebar-account-thumb-size: 23px;
		--sidebar-small-account-thumb-size: 40px;
		--sidebar-account-status-bullet-size: 10px;
		--sidebar-small-account-status-bullet-size: 8px;
		--sidebar-account-status-bullet-radius: 50%;
		--sidebar-account-username-size: 1rem;
		--sidebar-account-username-weight: 700;
		--sidebar-small-account-username-weight: 400;
		--sidebar-account-username-color: var(--color-white);
		--sidebar-account-username-color-darker: var(--color-dark);
		--sidebar-account-status-font-size: 0.875rem;
		--sidebar-account-status-color: var(--color-gray);
		--sidebar-item-radius: 2px;
		--sidebar-item-height: 24px;
		--sidebar-item-height-medium: 34px;
		--sidebar-item-height-extended: 52px;
		--sidebar-item-thumb-size: 18px;
		--sidebar-item-thumb-size-medium: 27px;
		--sidebar-item-thumb-size-extended: 36px;
		--sidebar-item-text-color: var(--rc-color-primary-light);
		--sidebar-item-background: inherit;
		--sidebar-item-hover-background: var(--rc-color-primary-darkest);
		--sidebar-item-active-background: var(--rc-color-primary-dark);
		--sidebar-item-active-color: var(--sidebar-item-text-color);
		--sidebar-item-unread-color: var(--rc-color-content);
		--sidebar-item-unread-font-weight: 600;
		--sidebar-item-popup-background: var(--rc-color-primary-dark);
		--sidebar-item-user-status-size: 6px;
		--sidebar-item-user-status-radius: 50%;
		--sidebar-item-text-size: 0.875rem;
		--create-channel-gap-between-elements: 1rem;
		--create-channel-title-color: var(--color-darkest);
		--create-channel-title-text-size: 1.375rem;
		--create-channel-description-color: var(--color-gray);
		--create-channel-description-text-size: 0.875rem;
		--toolbar-placeholder-color: var(--color-gray);
		--rooms-list-title-color: var(--rc-color-primary-light);
		--rooms-list-title-text-size: 0.75rem;
		--rooms-list-empty-text-color: var(--color-gray);
		--rooms-list-empty-text-size: 0.75rem;
		--rooms-list-padding: var(--sidebar-default-padding);
		--rooms-list-small-padding: var(--sidebar-small-default-padding);
		--chip-background: #ddd;
		--avatar-radius: var(--border-radius);
		--avatar-initials-text-size: 22px;
		--avatar-initials-text-weight: 700;
		--badge-text-color: var(--color-white);
		--badge-radius: 12px;
		--badge-text-size: 0.75rem;
		--badge-background: var(--rc-color-primary-dark);
		--badge-unread-background: var(--color-blue);
		--badge-user-mentions-background: var(--color-red);
		--badge-group-mentions-background: var(--color-orange);
		--mention-link-radius: 4px;
		--mention-link-background: var(--primary-c4);
		--mention-link-text-color: var(--primary-c3);
		--mention-link-me-background: var(--secondary-c1);
		--mention-link-me-text-color: var(--secondary-c4);
		--mention-link-group-background: var(--primary-c4);;
		--mention-link-group-text-color: var(--primary-c3);
		--message-box-text-size: var(--input-font-size);
		--message-box-placeholder-color: var(--color-gray-medium);
		--message-box-markdown-color: var(--color-gray);
		--message-box-markdown-hover-color: var(--color-dark);
		--message-box-user-activity-color: var(--color-gray);
		--message-box-user-activity-text-size: 0.75rem;
		--message-box-user-activity-user-color: var(--color-dark);
		--message-box-container-border-color: var(--color-gray-medium);
		--message-box-container-border-width: var(--border);
		--message-box-container-border-radius: var(--border-radius);
		--message-box-editing-color: var(--primary-c2-s2);
		--message-box-popover-title-text-color: var(--color-gray);
		--message-box-popover-title-text-size: 0.75rem;
		--header-height: 77px;
		--header-padding: 16px;
		--header-title-username-color-darker: var(--color-dark);
		--header-title-font-size: var(--text-default-size);
		--header-title-font-size--subtitle: var(--text-small-size);
		--header-title-status-color: var(--color-gray);
		--header-title-username-weight: 400;
		--header-title-status-name-weight: 400;
		--header-title-status-bullet-radius: var(--status-bullet-radius);
		--header-title-status-bullet-size: var(--status-bullet-size);
		--header-background-color: var(--color-white);
		--flex-nav-background: var(--primary-c4);
		--popover-padding: 1rem;
		--popover-radius: var(--border-radius);
		--popover-background: var(--primary-c4);
		--popover-column-min-width: 130px;
		--popover-column-padding: 1rem;
		--popover-title-color: var(--highlight-ctext);
		--popover-title-text-size: 0.75rem;
		--popover-item-color: var(--primary-ctext);
		--popover-item-text-size: 0.875rem;
		--popover-divider-height: 2px;
		--popover-divider-color: var(--color-gray-light);
		--tooltip-background: var(--primary-c1-s2);
		--tooltip-text-color: var(--primary-ctext);
		--tooltip-text-size: 0.75rem;
		--tooltip-radius: var(--border-radius);
		--alerts-padding: var(--sidebar-default-padding);
		--alerts-padding-vertical: 10px;
		--alerts-padding-vertical-large: 20px;
		--alerts-background: #1d73f5;
		--alerts-color: var(--color-white);
		--alerts-font-size: var(--text-default-size);
		--content-page-padding: 2.5rem;
		--badge-size: 14px;
		--badge-font-size: 0.625rem;
	}

	:root {
		--rc-color-error: var(--#f5455c);
		--rc-color-error-light: #e1364c;
		--rc-color-alert: var(--#ffd21f);
		--rc-color-alert-light: var(--#f6c502);
		--rc-color-success: var(--#2de0a5);
		--rc-color-success-light: #25d198;
		--rc-color-button-primary: var(--primary-c3);
		--rc-color-button-primary-light: var(--primary-c3);
		--rc-color-alert-message-primary: var(--rc-color-button-primary);
		--rc-color-alert-message-primary-background: #f1f6ff;
		--rc-color-alert-message-secondary: #7ca52b;
		--rc-color-alert-message-secondary-background: #fafff1;
		--rc-color-alert-message-warning: #d52d24;
		--rc-color-alert-message-warning-background: #fff3f3;
		--rc-color-primary: var(--color-dark);
		--rc-color-primary-background: var(--color-dark);
		--rc-color-primary-darkest: var(--color-darkest);
		--rc-color-primary-dark: var(--color-dark-medium);
		--rc-color-primary-light: var(--color-gray);
		--rc-color-primary-light-medium: var(--color-gray-medium);
		--rc-color-primary-lightest: var(--color-gray-lightest);
		--rc-color-content: var(--color-white);
		--rc-color-link-active: var(--rc-color-button-primary);
		--rc-color-announcement-text: var(--primary-c3);
		--rc-color-announcement-background: var(--primary-c1-s3);
		--rc-color-announcement-text-hover: var(--primary-c4);
		--rc-color-announcement-background-hover: var(--primary-c3-s1);
		/*--content-background-color: var(--primary-c4);
		--primary-background-color: #04436A;*/
		/*--primary-font-color: #444444;*/
		/*--primary-action-color: #13679A;*/
		--secondary-background-color: var(--secondary-c4);
		--secondary-font-color: var(--secondary-ctext);
		--secondary-action-color: #DDDDDD;
		--component-color: #EAEAEA;
		--pending-color: #FCB316;
		--error-color: #BC2031;
		--success-color: #4dff4d;
		--selection-color: #02ACEC;
		--attention-color: #9C27B0;
		--body-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Meiryo UI', Arial, sans-serif;
	}
	:root{
		--rcx-color-foreground-default: var(--primary-ctext);
		--rcx-color-foreground-info: var(--primary-ctext);
		--rcx-color-neutral-100: var(--secondary-c4);
		--rcx-color-neutral-200: var(--primary-c4);
		--rcx-color-neutral-300: var(--primary-c2);
		--rcx-color-neutral-400: var(--primary-c2);
		--rcx-color-neutral-500: var(--primary-c2);
		--rcx-color-neutral-600: var(--primary-c3);
		--rcx-color-neutral-700: var(--primary-c3);
		--rcx-color-neutral-800: var(--primary-c3);
		--rcx-color-neutral-900: var(--primary-c3);
		--rcx-color-primary-100: var(--primary-c3);
		--rcx-color-primary-200: var(--primary-c3);
		--rcx-color-primary-300: var(--primary-c3);
		--rcx-color-primary-400: var(--primary-c3);
		--rcx-color-primary-500: var(--secondary-c1);
		--rcx-color-primary-600: var(--primary-c3);
		--rcx-color-primary-700: var(--primary-c3);
		--rcx-color-primary-800: var(--primary-c3);
		--rcx-color-primary-900: var(--primary-c3);
		--rcx-color-foreground-alternative: var(--secondary-ctext);
		--rcx-button-colors-primary-color: var(--primary-ctext);
		--rcx-button-colors-ghost-hover-background-color: var(--primary-c4);
		--rcx-button-colors-ghost-hover-border-color: var(--primary-c3);
		--rcx-button-colors-ghost-color: var(--secondary-ctext);
		--rcx-button-colors-ghost-active-background-color: var(--secondary-c1);
		--rcx-button-colors-ghost-active-border-color: var(--secondary-c1);
		--rcx-button-colors-ghost-info-hover-background-color: var(--primary-c4);
		--rcx-button-colors-ghost-info-hover-border-color: var(--primary-c2);
		--rcx-color-surface: var(--primary-c1-s3);
		--rcx-tooltip-text-color: var(--primary-ctext);
		--rcx-tooltip-background-color: var(--secondary-c4);
	}
	:root {
		--default-action-color: #cecece;
		--default-action-contrast: #444444;
		--primary-background-contrast: #ffffff;
		--primary-action-contrast: #ffffff;
		--secondary-background-contrast: #444444;
		--secondary-action-contrast: #444444;
		--selection-background: #89defe;
		--success-background: #ffffff;
		--success-border: #e6ffe6;
		--error-background: #f6cbd0;
		--error-border: #eb8a95;
		--error-contrast: #ffffff;
		--pending-background: #fffdf9;
		--pending-border: #fee4ad;
		--transparent-darkest: rgba(17, 12, 12, 0.5);
		--transparent-darker: rgba(0, 0, 0, 0.15);
		--transparent-dark: rgba(15, 34, 0, 0.05);
		--transparent-light: rgba(255, 255, 255, 0.1);
		--transparent-lighter: rgba(255, 255, 255, 0.3);
		--transparent-lightest: rgba(255, 255, 255, 0.6);
		--tertiary-font-color: rgba(255, 255, 255, 0.6);
		--link-font-color: #13679a;
		--info-font-color: #a0a0a0;
		--custom-scrollbar-color: rgba(0, 0, 0, 0.15);
	}

	.sidebar--custom-colors {
		--rcx-color-neutral-100: var(--secondary-c4);
		--rcx-color-neutral-200: var(--primary-c4);
		--rcx-color-neutral-300: var(--primary-c2);
		--rcx-color-neutral-400: var(--primary-c2);
		--rcx-color-neutral-500: var(--primary-c2);
		--rcx-color-neutral-600: var(--primary-c3);
		--rcx-color-neutral-700: var(--primary-c3);
		--rcx-color-neutral-800: var(--primary-c3);
		--rcx-color-neutral-900: var(--primary-c3);
		
		--rcx-color-primary-100: var(--primary-c3);
		--rcx-color-primary-200: var(--primary-c3);
		--rcx-color-primary-300: var(--primary-c3);
		--rcx-color-primary-400: var(--primary-c3);
		--rcx-color-primary-500: var(--secondary-c1);
		--rcx-color-primary-600: var(--primary-c3);
		--rcx-color-primary-700: var(--primary-c3);
		--rcx-color-primary-800: var(--primary-c3);
		--rcx-color-primary-900: var(--primary-c3);

		--rcx-color-foreground-alternative: var(--secondary-ctext);
		--rcx-button-colors-primary-color: var(--primary-ctext);
		--rcx-button-colors-ghost-hover-background-color: var(--primary-c4);
		--rcx-button-colors-ghost-hover-border-color: var(--primary-c3);
		--rcx-button-colors-ghost-color: var(--secondary-ctext);
		--rcx-button-colors-ghost-active-background-color: var(--secondary-c1);
		--rcx-button-colors-ghost-active-border-color: var(--secondary-c1);
		--rcx-button-colors-ghost-info-hover-background-color: var(--primary-c4);
		--rcx-button-colors-ghost-info-hover-border-color: var(--primary-c2);
		--rcx-color-surface: var(--primary-c1-s3);
		--rcx-tooltip-text-color: var(--primary-ctext);
		--rcx-tooltip-background-color: var(--secondary-c4);
	}
	.rcx-sidebar {
		background-color: var(--primary-c1-s3);
	}

	.rc-old .code-colors {
		color: var(--primary-ctext);
		background-color: var(--primary-c4);
	}

	.message.active, .message:hover {
	 background-color: var(--primary-c1-s2);
	}

	.rcx-css-11c35pn:hover .rcx-attachment__details, .rcx-css-11c35pn:focus .rcx-attachment__details {
		background-color: var(--primary-c4) !important;
		border-color: var(--secondary-c2) !important;
	}

	.message-actions {
		color: var(--primary-c3);;
		background: var(--secondary-c4);
		border-color: var(--primary-c3);
	}

	.message-actions__button:hover, .message-actions__menu:hover {
		background: var(--primary-c1-s2);
	}

	.message .title .is-bot, .message .title .role-tag {
		color: var(--primary-c3);;
		background: var(--secondary-c4);
		border-color: var(--primary-c3);
	}

	.message .reactions > li {
		background: none;
		color: var(--primary-ctext);
	}

	.rc-old .rc-message-box .reply-preview {
		background-color: var(--primary-c3-s3);
	}

	h1,h2,h3,h4 {
			color: var(--primary-c3);
	}

	.rcx-callout--type-warning {
		background-color: #766100;
	}

	.emoji-picker {
		background-color: var(--popover-background);
	}

	.emoji-picker .emojis .emoji-list li.emoji-picker-item:hover {
		background-color: var(--secondary-c1);
		color: var(--primary-ctext);
	}
}
