/*Theme that attempts to make Rocketchat look a bit more like rc3 2021 without cacrificing accessibility or completly redoing the rocketchat styling*/
/*(c) Baschdel <baschdel@disroot.org> 2021 CC0-BY-SA*/
/*Based on tthe default rocketchat css*/

@media (prefers-color-scheme: dark) {
	:root {
		/*Recycled colors from last year*/
		--primary-c1: #f00efa;
		--primary-c2: rgba(104, 0, 231, 1);
		--primary-c3: #4ce9f8;
		--primary-c4: rgba(16, 14, 35, 1);

		/*shaded versions*/
		--primary-c1-s1: rgba(103, 2, 149, 1);
		--primary-c2-s1: rgba(65, 0, 139, 1);
		--primary-c3-s1: rgba(0, 118, 169, 1);

		--primary-c1-s2: rgba(68, 9, 105, 1);
		--primary-c2-s2: rgba(42, 0, 94, 1);
		--primary-c3-s2: rgba(2, 93, 132, 1);

		--primary-c1-s3: rgba(36, 0, 56, 1);
		--primary-c2-s3: rgba(20, 0, 47, 1);
		--primary-c3-s3: rgba(0, 42, 58, 1);

		--secondary-c1: rgba(253, 41, 79, 1);
		--secondary-c2: rgba(22, 10, 254, 1);
		--secondary-c3: rgba(255, 235, 216, 1);
		--secondary-c4: rgba(1, 2, 42, 1);

		--primary-ctext: #ccc;
		--secondary-ctext: #ccc;
		--highlight-ctext: #fff;
		--alternative-ctext: #454545;
	}

	:root {
		--color-dark-100: #0c0d0f;
		--color-dark-90: #1e232a;
		--color-dark-80: #2e343e;
		--color-dark-70: #53585f;
		--color-dark-30: #9da2a9;
		--color-dark-20: #caced1;
		--color-dark-10: #e0e5e8;
		--color-dark-05: #f1f2f4;
		--color-dark-blue: #175cc4;
		--color-blue: #1d74f5;
		--color-light-blue: #4eb2f5;
		--color-lighter-blue: #e8f2ff;
		--color-purple: #861da8;
		--color-red: #f5455c;
		--color-dark-red: #e0364d;
		--color-orange: #f38c39;
		--color-yellow: #ffd21f;
		--color-dark-yellow: #f6c502;
		--color-green: #2de0a5;
		--color-dark-green: #26d198;
		--color-darkest: #1f2329;
		--color-dark: var(--primary-c1-s3);
		--color-dark-medium: #414852;
		--color-dark-light: #6c727a;
		--color-gray: #9ea2a8;
		--color-gray-medium: #cbced1;
		--color-gray-light: #e1e5e8;
		--color-gray-lightest: #f2f3f5;
		--color-black: #000;
		--color-white: #fff;
		--rc-color-error: var(--color-red);
		--rc-color-error-light: #e1364c;
		--rc-color-alert: var(--color-yellow);
		--rc-color-alert-light: var(--color-dark-yellow);
		--rc-color-success: var(--color-green);
		--rc-color-success-light: #25d198;
		--rc-color-button-primary: var(--primary-c3);
		--rc-color-button-primary-light: var(--primary-c3);
		--rc-color-alert-message-primary: var(--highlight-ctext);
		--rc-color-alert-message-primary-background: var(--primary-c4);
		--rc-color-alert-message-secondary: var(--highlight-ctext);
		--rc-color-alert-message-secondary-background: #7ca52b;
		--rc-color-alert-message-warning: var(--ctext-highlight);
		--rc-color-alert-message-warning-background: var(--secondary-c1);
		--rc-color-primary: var(--color-dark);
		--rc-color-primary-background: var(--color-dark);
		--rc-color-primary-darkest: var(--color-darkest);
		--rc-color-primary-dark: var(--color-dark-medium);
		--rc-color-primary-light: var(--color-gray);
		--rc-color-primary-light-medium: var(--color-gray-medium);
		--rc-color-primary-lightest: var(--color-gray-lightest);
		--rc-color-content: var(--color-white);
		--rc-color-link-active: var(--rc-color-button-primary);
		--rc-color-announcement-text: var(--primary-ctext);
		--rc-color-announcement-background: #fff2;
		--rc-color-announcement-text-hover: var(--highlight-ctext);
		--rc-color-announcement-background-hover: #fff1;
		--content-background-color: #000; /*Is overwritten further down with a transparent color*/
		--primary-background-color: #04436a;
		--primary-font-color: var(--primary-ctext);
		--primary-action-color: #eee;
		--secondary-background-color: var(--secondary-c4);
		--secondary-font-color: var(--secondary-ctext);
		--secondary-action-color: #ddd;
		--component-color: #f2f3f5;
		--pending-color: #fcb316;
		--error-color: #bc2031;
		--success-color: #2de0a5;
		--selection-color: #02acec;
		--attention-color: #9c27b0;
		--tertiary-font-color: var(--transparent-lightest);
		--link-font-color: var(--primary-action-color);
		--info-font-color: var(--secondary-font-color);
		--custom-scrollbar-color: #fff4;
		--body-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Meiryo UI", Arial, sans-serif;
		--text-size: 0.875rem;
		--header-min-height: 60px;
		--toolbar-height: 55px;
		--footer-min-height: 70px;
		--rooms-box-width: 280px;
		--flex-tab-width: 380px;
		--flex-tab-webrtc-width: 400px;
		--flex-tab-webrtc-2-width: 850px;
		--border: 2px;
		--border-radius: 2px;
		--rc-status-online: var(--rc-color-success);
		--rc-status-away: var(--rc-color-alert);
		--rc-status-busy: var(--rc-color-error);
		--rc-status-invisible: var(--color-gray-medium);
		--rc-status-offline: var(--transparent-darker);
		--rc-status-invisible-sidebar: var(--rc-color-primary-darkest);
		--default-padding: 1.5rem;
		--default-small-padding: 1rem;
		--status-bullet-size: 10px;
		--status-bullet-radius: 50%;
		--account-username-weight: 700;
		--status-name-weight: 400;
		--default-font-weight-header: 500;
		--text-default-size: 1rem;
		--text-default-weight: 500;
		--text-small-size: 0.875rem;
		--text-small-weight: 500;
		--text-heading-size: 1.375rem;
		--text-heading-weight: 700;
		--text-label-size: 075rem;
		--text-label-weight: 600;
		--text-tiny-size: 075rem;
		--text-tiny-weight: 400;
		--text-micro-size: 0.625rem;
		--text-micro-weight: 700;
		--gap-between-elements: 2.5rem;
		--label-margin-bottom: 1rem;
		--button-square-size: 36px;
		--button-padding: 0.782rem;
		--button-padding-small: 0 0.5rem;
		--button-height-small: 28px;
		--button-text-size-small: 13px;
		--button-text-size: var(--input-font-size);
		--button-border-width: var(--border);
		--button-border-radius: var(--border-radius);
		--button-disabled-background: var(--color-gray-light);
		--button-disabled-text-color: var(--color-white);
		--button-primary-background: var(--rc-color-button-primary);
		--button-primary-text-color: var(--color-white);
		--button-cancel-color: var(--rc-color-error);
		--button-secondary-background: var(--color-gray-medium);
		--button-secondary-text-color: var(--color-dark-medium);
		--input-font-size: 0.875rem;
		--input-title-text-size: var(--input-font-size);
		--input-title-color: var(--primary-ctext);
		--input-text-color: var(--secondray-ctext);
		--input-placeholder-color: var(--color-gray-medium);
		--input-icon-color: var(--secondary-ctext);
		--input-border-color: var(--color-gray-light);
		--input-border-width: var(--border);
		--input-border-radius: var(--border-radius);
		--input-description-text-color: var(--color-gray);
		--input-description-text-size: var(--input-font-size);
		--input-error-color: var(--rc-color-error);
		--popup-list-border-radius: var(--border-radius);
		--popup-list-background: var(--color-white);
		--popup-list-background-hover: var(--color-gray-lightest);
		--popup-list-selected-background: var(--color-gray-lightest);
		--popup-list-name-color: #2d343d;
		--popup-list-name-size: 1rem;
		--tags-border-width: var(--border);
		--tags-border-radius: var(--border-radius);
		--tags-border-color: var(--color-gray-light);
		--tags-text-color: var(--rc-color-primary);
		--tags-background: #f2f3f5;
		--tags-avatar-size: 20px;
		--select-avatar-size: 48px;
		--select-avatar-preview-size: 150px;
		--select-avatar-upload-background: var(--color-gray-light);
		--select-avatar-upload-color: #2d343d;
		--sidebar-width: 280px;
		--sidebar-small-width: 90%;
		--sidebar-background: var(--rc-color-primary-background);
		--sidebar-background-hover: var(--rc-color-primary-dark);
		--sidebar-background-light: var(--rc-color-primary-lightest);
		--sidebar-background-light-hover: var(--primary-c2);
		--sidebar-background-light-active: var(--primary-c2);
		--sidebar-default-padding: 24px;
		--sidebar-small-default-padding: 16px;
		--sidebar-extra-small-default-padding: 12px;
		--sidebar-footer-height: 48px;
		--sidebar-small-header-padding: var(--sidebar-small-default-padding);
		--sidebar-flex-search-background: var(--color-white);
		--sidebar-flex-search-placeholder-color: var(--color-gray);
		--sidebar-account-thumb-size: 23px;
		--sidebar-small-account-thumb-size: 40px;
		--sidebar-account-status-bullet-size: 10px;
		--sidebar-small-account-status-bullet-size: 8px;
		--sidebar-account-status-bullet-radius: 50%;
		--sidebar-account-username-size: 1rem;
		--sidebar-account-username-weight: 700;
		--sidebar-small-account-username-weight: 400;
		--sidebar-account-username-color: var(--color-white);
		--sidebar-account-username-color-darker: var(--color-dark);
		--sidebar-account-status-font-size: 0.875rem;
		--sidebar-account-status-color: var(--color-gray);
		--sidebar-item-radius: 2px;
		--sidebar-item-height: 24px;
		--sidebar-item-height-medium: 34px;
		--sidebar-item-height-extended: 52px;
		--sidebar-item-thumb-size: 18px;
		--sidebar-item-thumb-size-medium: 27px;
		--sidebar-item-thumb-size-extended: 36px;
		--sidebar-item-text-color: var(--rc-color-primary-light);
		--sidebar-item-background: inherit;
		--sidebar-item-hover-background: var(--rc-color-primary-darkest);
		--sidebar-item-active-background: var(--rc-color-primary-dark);
		--sidebar-item-active-color: var(--sidebar-item-text-color);
		--sidebar-item-unread-color: var(--rc-color-content);
		--sidebar-item-unread-font-weight: 600;
		--sidebar-item-popup-background: var(--rc-color-primary-dark);
		--sidebar-item-user-status-size: 6px;
		--sidebar-item-user-status-radius: 50%;
		--sidebar-item-text-size: 0.875rem;
		--create-channel-gap-between-elements: 1rem;
		--create-channel-title-color: var(--color-darkest);
		--create-channel-title-text-size: 1.375rem;
		--create-channel-description-color: var(--color-gray);
		--create-channel-description-text-size: 0.875rem;
		--toolbar-placeholder-color: var(--color-gray);
		--rooms-list-title-color: var(--rc-color-primary-light);
		--rooms-list-title-text-size: 0.75rem;
		--rooms-list-empty-text-color: var(--color-gray);
		--rooms-list-empty-text-size: 0.75rem;
		--rooms-list-padding: var(--sidebar-default-padding);
		--rooms-list-small-padding: var(--sidebar-small-default-padding);
		--chip-background: #ddd;
		--avatar-radius: var(--border-radius);
		--avatar-initials-text-size: 22px;
		--avatar-initials-text-weight: 700;
		--badge-text-color: var(--color-white);
		--badge-radius: 12px;
		--badge-text-size: 0.75rem;
		--badge-background: var(--rc-color-primary-dark);
		--badge-unread-background: var(--color-blue);
		--badge-user-mentions-background: var(--color-red);
		--badge-group-mentions-background: var(--color-orange);
		--mention-link-radius: 4px;
		--mention-link-background: #0000;
		--mention-link-text-color: var(--primary-c3);
		--mention-link-me-background: var(--secondary-c1);
		--mention-link-me-text-color: var(--secondary-c4);
		--mention-link-group-background: var(--primary-c4);
		;
		--mention-link-group-text-color: var(--primary-c3);
		--message-box-text-size: var(--input-font-size);
		--message-box-placeholder-color: var(--color-gray-medium);
		--message-box-markdown-color: var(--secondary-ctext);
		--message-box-markdown-hover-color: var(--primary-c3);
		--message-box-user-activity-color: var(--secondary-ctext);
		--message-box-user-activity-text-size: 0.75rem;
		--message-box-user-activity-user-color: var(--primary-c3);
		--message-box-container-border-color: var(--color-gray-medium);
		--message-box-container-border-width: var(--border);
		--message-box-container-border-radius: var(--border-radius);
		--message-box-editing-color: var(--primary-c2-s2);
		--message-box-popover-title-text-color: var(--primary-ctext);
		--message-box-popover-title-text-size: 0.75rem;
		--header-height: 77px;
		--header-padding: 16px;
		--header-title-username-color-darker: var(--color-dark);
		--header-title-font-size: var(--text-default-size);
		--header-title-font-size--subtitle: var(--text-small-size);
		--header-title-status-color: var(--color-gray);
		--header-title-username-weight: 400;
		--header-title-status-name-weight: 400;
		--header-title-status-bullet-radius: var(--status-bullet-radius);
		--header-title-status-bullet-size: var(--status-bullet-size);
		--header-background-color: var(--color-white);
		--flex-nav-background: var(--primary-c4);
		--popover-padding: 1rem;
		--popover-radius: var(--border-radius);
		--popover-background: var(--primary-c4);
		--popover-column-min-width: 130px;
		--popover-column-padding: 1rem;
		--popover-title-color: var(--highlight-ctext);
		--popover-title-text-size: 0.75rem;
		--popover-item-color: var(--primary-ctext);
		--popover-item-text-size: 0.875rem;
		--popover-divider-height: 2px;
		--popover-divider-color: var(--color-gray-light);
		--tooltip-background: var(--primary-c1-s2);
		--tooltip-text-color: var(--primary-ctext);
		--tooltip-text-size: 0.75rem;
		--tooltip-radius: var(--border-radius);
		--alerts-padding: var(--sidebar-default-padding);
		--alerts-padding-vertical: 10px;
		--alerts-padding-vertical-large: 20px;
		--alerts-background: #1d73f5;
		--alerts-color: var(--color-white);
		--alerts-font-size: var(--text-default-size);
		--content-page-padding: 2.5rem;
		--badge-size: 14px;
		--badge-font-size: 0.625rem;
	}

	:root {
		--rcx-color-foreground-default: var(--primary-ctext);
		--rcx-color-foreground-info: var(--primary-ctext);
		--rcx-color-neutral-100: var(--secondary-c4);
		--rcx-color-neutral-200: #fff2;
		--rcx-color-neutral-300: var(--primary-c2);
		--rcx-color-neutral-400: var(--primary-c2);
		--rcx-color-neutral-500: var(--primary-c2);
		--rcx-color-neutral-600: var(--primary-ctext);
		--rcx-color-neutral-700: var(--primary-ctext);
		--rcx-color-neutral-800: var(--highlight-ctext);
		--rcx-color-neutral-900: var(--highlight-ctext);
		--rcx-color-info-100: var(--secondary-c4);
		--rcx-color-info-200: #fff2;
		--rcx-color-info-300: var(--primary-c2);
		--rcx-color-info-400: var(--primary-c2);
		--rcx-color-info-500: var(--primary-c2);
		--rcx-color-info-600: var(--primary-ctext);
		--rcx-color-info-700: var(--primary-ctext);
		--rcx-color-info-800: var(--highlight-ctext);
		--rcx-color-info-900: var(--highlight-ctext);
		--rcx-color-primary-100: var(--primary-ctext);
		--rcx-color-primary-200: var(--primary-ctext);
		--rcx-color-primary-300: var(--primary-ctext);
		--rcx-color-primary-400: var(--primary-ctext);
		--rcx-color-primary-500: var(--highlight-ctext);
		--rcx-color-primary-600: var(--highlight-ctext);
		--rcx-color-primary-700: var(--highlight-ctext);
		--rcx-color-primary-800: var(--highlight-ctext);
		--rcx-color-primary-900: var(--highlight-ctext);
		--rcx-color-danger-100: var(--secondary-c1);
		--rcx-color-danger-200: var(--secondary-c1);
		--rcx-color-danger-300: var(--secondary-c1);
		--rcx-color-danger-400: var(--secondary-c1);
		--rcx-color-danger-500: var(--secondary-c1);
		--rcx-color-danger-600: var(--secondary-c1);
		--rcx-color-danger-700: var(--secondary-c1);
		--rcx-color-danger-800: var(--secondary-c1);
		--rcx-color-danger-900: var(--secondary-c1);

		--rcx-color-foreground-alternative: var(--alternative-ctext);
		--rcx-button-colors-primary-color: var(--primary-ctext);
		--rcx-button-colors-ghost-hover-background-color: var(--primary-c4);
		--rcx-button-colors-ghost-hover-border-color: var(--primary-c3);
		--rcx-button-colors-ghost-color: var(--secondary-ctext);
		--rcx-button-colors-ghost-active-background-color: var(--secondary-c1);
		--rcx-button-colors-ghost-active-border-color: var(--secondary-c1);
		--rcx-button-colors-ghost-info-hover-background-color: var(--primary-c4);
		--rcx-button-colors-ghost-info-hover-border-color: var(--primary-c2);
		--rcx-color-surface: var(--secondary-c4);;
		--rcx-tooltip-text-color: var(--primary-ctext);
		--rcx-tooltip-background-color: var(--secondary-c4);
		--rcx-tag-colors-secondary-color: var(--primary-ctext);
		--rcx-tag-colors-secondary-background-color: #fff2;
		--rcx-color-foreground-hint: var(--secondary-ctext);
		--rcx-tag-colors-disabled-background-color: #88888829;
		--rcx-input-colors-background-color:#0000;
		--rcx-input-colors-border-color: var(--primary-ctext);
		--rcx-button-colors-primary-background-color: var(--secondary-c1);
		--rcx-button-colors-primary-border-color: var(--secondary-c1);
		--rcx-button-colors-primary-hover-background-color: var(--secondary-c1);
		--rcx-button-colors-off-color: var(--secondary-ctext);
		--rcx-button-colors-secondary-background-color: #0000;
		--rcx-button-colors-danger-color: var(--highlight-ctext);
		--rcx-color-foreground-visited-link: var(--secondary-c3);
	}

	@media (min-width: 1024px) { /*Ugly hack but matches when rocketchat turns the sidebar into an overlay*/
		.rcx-vertical-bar.rcx-css-17l0eu7 {
			background-color: #0003 !important;
		}
	}

	:root {
		--default-action-color: #cecece;
		--default-action-contrast: #444444;
		--primary-background-contrast: #ffffff;
		--primary-action-contrast: #454545;
		--secondary-background-contrast: #444444;
		--secondary-action-contrast: #444444;
		--selection-background: var(--secondary-c1);
		--success-background: #ffffff;
		--success-border: #e6ffe6;
		--error-background: #f6cbd0;
		--error-border: #eb8a95;
		--error-contrast: #ffffff;
		--pending-background: var(--primary-c4);
		--pending-border: var(--secondary-c1);
		--transparent-darkest: rgba(17, 12, 12, 0.5);
		--transparent-darker: rgba(0, 0, 0, 0.15);
		--transparent-dark: rgba(15, 34, 0, 0.05);
		--transparent-light: rgba(255, 255, 255, 0.1);
		--transparent-lighter: rgba(255, 255, 255, 0.3);
		--transparent-lightest: rgba(255, 255, 255, 0.6);
		--tertiary-font-color: rgba(255, 255, 255, 0.6);
	}

	.sidebar--custom-colors {
		--rcx-color-neutral-100: var(--secondary-c4);
		--rcx-color-neutral-200: #fff2;
		--rcx-color-neutral-300: var(--primary-c2);
		--rcx-color-neutral-400: var(--primary-c2);
		--rcx-color-neutral-500: var(--primary-c2);
		--rcx-color-neutral-600: var(--primary-ctext);
		--rcx-color-neutral-700: var(--primary-ctext);
		--rcx-color-neutral-800: var(--highlight-ctext);
		--rcx-color-neutral-900: var(--highlight-ctext);
		--rcx-color-primary-100: var(--primary-ctext);
		--rcx-color-primary-200: var(--primary-ctext);
		--rcx-color-primary-300: var(--primary-ctext);
		--rcx-color-primary-400: var(--primary-ctext);
		--rcx-color-primary-500: var(--highlight-ctext);
		--rcx-color-primary-600: var(--highlight-ctext);
		--rcx-color-primary-700: var(--highlight-ctext);
		--rcx-color-primary-800: var(--highlight-ctext);
		--rcx-color-primary-900: var(--highlight-ctext);
		--rcx-color-danger-100: var(--secondary-c1);
		--rcx-color-danger-200: var(--secondary-c1);
		--rcx-color-danger-300: var(--secondary-c1);
		--rcx-color-danger-400: var(--secondary-c1);
		--rcx-color-danger-500: var(--secondary-c1);
		--rcx-color-danger-600: var(--secondary-c1);
		--rcx-color-danger-700: var(--secondary-c1);
		--rcx-color-danger-800: var(--secondary-c1);
		--rcx-color-danger-900: var(--secondary-c1);

		--rcx-color-foreground-alternative: var(--secondary-ctext);
		--rcx-button-colors-primary-color: var(--primary-ctext);
		--rcx-button-colors-ghost-hover-background-color: var(--primary-c4);
		--rcx-button-colors-ghost-hover-border-color: var(--primary-c3);
		--rcx-button-colors-ghost-color: var(--secondary-ctext);
		--rcx-button-colors-ghost-active-background-color: var(--secondary-c1);
		--rcx-button-colors-ghost-active-border-color: var(--secondary-c1);
		--rcx-button-colors-ghost-info-hover-background-color: var(--primary-c4);
		--rcx-button-colors-ghost-info-hover-border-color: var(--primary-c2);
		--rcx-color-surface: #000a;
		--rcx-tooltip-text-color: var(--primary-ctext);
		--rcx-tooltip-background-color: var(--secondary-c4);
		--rcx-tag-colors-secondary-color: var(--primary-ctext);
		/*Sidebar only variables!*/
	}
	
	.rcx-sidebar {
		background-color: #00000098;
	}

	.rcx-box.rcx-sidebar {
		background-color: var(--primary-c4);
	}

	.rcx-sidebar-item--clickable.hover, .rcx-sidebar-item--clickable.is-hovered, .rcx-sidebar-item--clickable:hover {
		background-color: #fff1;
	}

	.rcx-sidebar .rcx-button--ghost {
		background-color: #0000;
		border: none;
	}

	div.popup-item.selected {
		color: var(--primary-c4);
	}

	/*Style Messages*/

	.rc-old .code-colors {
		color: var(--primary-ctext);
		background-color: var(--primary-c4);
	}

	.message.active,
	.message:hover, .message:focus-within {
		background-color: #fff2;
	}

	.rcx-css-1d5cod7 {
		background-color: #0008 !important;
	}

	/*Quotes and codeblocks on hover*/
	.rcx-css-11c35pn:hover .rcx-attachment__details,
	.rcx-css-11c35pn:focus .rcx-attachment__details {
		background-color: #0006 !important;

	}

	.message-actions {
		color: var(--primary-ctext);
		background: var(--secondary-c4);
		border-color: var(--secondary-ctext);
	}

	.message-actions__button:hover,
	.message-actions__menu:hover {
		background: #0000;
		outline-color: var(--primary-c3);
		outline-width: 2px;
		outline-style: solid;
	}

	.message .title .is-bot,
	.message .title .role-tag {
		color: var(--primary-c3);
		background: var(--secondary-c4);
		border-color: var(--primary-c3);
	}
	
	/*Message reactions*/
	.message .reactions > li {
		background: none;
		color: var(--primary-ctext);
	}

	.message .reactions > li.selected {
		background: none;
		border-color: var(--secondary-c1);
		color: var(--primary-ctext);
	}
	
	.rc-old .rc-message-box .reply-preview {
		background-color: var(--primary-c3-s3);
	}
	
	/*Keyword highlighting*/
	.message .highlight-text {
		color: var(--highlight-ctext);
		background: #fff2;
		border-radius: var(--border-radius);
	}

	/*Unread messages badge*/
	.first-unread .body::after {
		background: var(--secondary-c1);
		color: var(--highlight-ctext);
	}

	/*Discussion pane item*/
	.rcx-css-s5gdxx {
		background-color: #0003;
	}

	.rcx-css-s5gdxx:hover {
		background-color: #fff2;
		border-radius: var(--border-radius);
	}
	
	/* Attachment panel hover*/
	.rcx-css-18t0quo:hover {
		background-color: #fff2;
		border-radius: var(--border-radius);
	}
	
	.rc-button--nude {
		color: var(--primary-c3);
	}

	.rcx-callout--type-warning {
		background-color: #0001;
		border-width: 2px;
		border-color: #EDD400;
		
	}

	.emoji-picker {
		background-color: var(--popover-background);
	}

	/*Directory and Home*/
	.rcx-css-txktj6, .page-home  {
		background-color: #0000 !important;
	}
	
	.page-home  {
		background-image: url(https://chat.rc3.world/file-upload/RSAtwyiXSQFCDPgBL/Clipboard%20-%20December%2025,%202021%207:12%20PM);
		background-position: 50%, 50%;
		background-repeat: no-repeat;
		background-size: 40ch;
	}

	/*Main pane background*/
	.content-background-color {
		background-color: #000a;
	}
	
	.message-popup.content-background-color {
		background-color: var(--secondary-c4);
	}

	.messages-container .footer {
		background-color: #0000;   
	}

	.emoji-picker .emojis .emoji-list li.emoji-picker-item:hover {
		background-color: var(--secondary-c1);
		color: var(--primary-ctext);
	}

	/* Date Marker*/
	.message.new-day::before {
		color: #454545;
		right: 3%;
		left: unset;
		background-color: #fff;
	}

	/*Move the Date marker a bit to make space for the unread messaes badge*/
	.message.new-day.first-unread::before, .message:hover.new-day:not(.system)::before {
		right: 15ch;
	}

	/*Lots of unread Messages*/
	.color-primary-action-color.background-component-color {
		color: var(--primary-action-contrast);
		background: var(--primary-action-color);
	}
	
	.messages-box .jump-recent button {
		color: var(--primary-action-contrast);
	}
	
	/*Still looks good when offline*/
	.ConnectionStatusBar {
		background-color: var(--secondary-c1);
		color: var(--hightlight-ctext);
		border-bottom: none;
	}

	.ConnectionStatusBar a {
		color: var(--hightlight-ctext);
		font-weight: bold;
		text-decoration: underline;
	}
	
	/*Discussion channel tag*/
	.rcx-css-17cb7q7, .rcx-css-otblcy {
		color: var(--highlight-ctext) !important;
	}
	
	.rcx-css-17cb7q7:hover, .rcx-css-17cb7q7:focus {
		color: var(--primary-ctext) !important;
	}
	
	/*
	2rc3 special sauce
	Only one background layer to keep background noise low (also easier to apply)
	*/


	body {
		/*TODO: Link to proper backgrond image here*/
		background: url(https://chat.rc3.world/file-upload/ixXrbpJHrbTXuSW3h/10b_Background_fallback_desktop_01_07.jpg);
		background-color: var(--primary-c4);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
	
	button:focus, button:focus-within {
		box-shadow: 0px 0px 2px 2px rgba(255,255,255,.5),inset 0px 0px 2px 2px rgba(255,255,255,.5);
	}
	
	a:focus {
		color: var(--primary-c3) !important;
		font-weight: bold;
	}
	
	/*Make Tags a bit more readable*/
	.rcx-tag:not(.rcx-tag--primary) {
		font-size: 1em;
		padding: .3em;
	}
	
	/*Input focus shadows*/
	.focus.rcx-autocomplete, .focus.rcx-input-box:not(.rcx-input-box--undecorated), .focus.rcx-input-box__wrapper, .focus.rcx-select, .is-focused.rcx-autocomplete, .is-focused.rcx-input-box:not(.rcx-input-box--undecorated), .is-focused.rcx-input-box__wrapper, .is-focused.rcx-select, .rcx-autocomplete:focus, .rcx-autocomplete:focus-within, .rcx-input-box:focus-within:not(.rcx-input-box--undecorated), .rcx-input-box:focus:not(.rcx-input-box--undecorated), .rcx-input-box__wrapper:focus, .rcx-input-box__wrapper:focus-within, .rcx-select:focus, .rcx-select:focus-within {
		box-shadow: 0px 0px 2px 2px rgba(255,255,255,.5),inset 0px 0px 2px 2px rgba(255,255,255,.5);
		
	}
	
	.rcx-check-box.is-hovered .rcx-check-box__input:checked + .rcx-check-box__fake, .rcx-check-box.is-hovered .rcx-check-box__input:indeterminate + .rcx-check-box__fake, .rcx-check-box__input:checked:hover + .rcx-check-box__fake, .rcx-check-box__input:indeterminate:hover + .rcx-check-box__fake, .rcx-radio-button.is-hovered .rcx-radio-button__input:checked + .rcx-radio-button__fake, .rcx-radio-button__input:checked:hover + .rcx-radio-button__fake, .rcx-toggle-switch.is-hovered .rcx-toggle-switch__input:checked + .rcx-toggle-switch__fake, .rcx-toggle-switch__input:checked:hover + .rcx-toggle-switch__fake {
		box-shadow: 0px 0px 2px 2px rgba(255,255,255,.5),inset 0px 0px 2px 2px rgba(255,255,255,.5);
	}
	
	.rcx-check-box.is-focused .rcx-check-box__input + .rcx-check-box__fake, .rcx-check-box__input:focus + .rcx-check-box__fake, .rcx-radio-button.is-focused .rcx-radio-button__input + .rcx-radio-button__fake, .rcx-radio-button__input:focus + .rcx-radio-button__fake {
		box-shadow: 0px 0px 2px 2px rgba(255,255,255,.5),inset 0px 0px 2px 2px rgba(255,255,255,.5);
	}
	
	.rcx-check-box.is-focused .rcx-check-box__input:checked + .rcx-check-box__fake, .rcx-check-box.is-focused .rcx-check-box__input:indeterminate + .rcx-check-box__fake, .rcx-check-box__input:checked:focus + .rcx-check-box__fake, .rcx-check-box__input:indeterminate:focus + .rcx-check-box__fake, .rcx-radio-button.is-focused .rcx-radio-button__input:checked + .rcx-radio-button__fake, .rcx-radio-button__input:checked:focus + .rcx-radio-button__fake, .rcx-toggle-switch.is-focused .rcx-toggle-switch__input:checked + .rcx-toggle-switch__fake, .rcx-toggle-switch__input:checked:focus + .rcx-toggle-switch__fake {
		box-shadow: 0px 0px 2px 2px rgba(255,255,255,.5),inset 0px 0px 2px 2px rgba(255,255,255,.5);
	}
	
	.rcx-toggle-switch.is-focused .rcx-toggle-switch__input + .rcx-toggle-switch__fake, .rcx-toggle-switch__input:focus + .rcx-toggle-switch__fake {
		box-shadow: 0px 0px 2px 2px rgba(255,255,255,.5),inset 0px 0px 2px 2px rgba(255,255,255,.5);
	}
	
	/*Make buttons look more like 2rc3*/
	.rcx-button:not(.rcx-button--ghost) {
		border-color: #fff;   
	}
	
	.rcx-button.hover, .rcx-button.is-hovered, .rcx-button:hover {
		box-shadow: 0px 0px 2px 2px rgba(255,255,255,.5),inset 0px 0px 2px 2px rgba(255,255,255,.5);
		border-color: #fff;
	}
	
	.rcx-button.rcx-button--primary, .rcx-button.rcx-button--primary.hover, .rcx-button.rcx-button--primary.is-hovered, .rcx-button.rcx-button--primary:hover {
		background-color: var(--highlight-ctext);
		color: var(--alternative-ctext);
	}
	
	.rcx-button--primary.disabled, .rcx-button--primary.is-disabled, .rcx-button--primary:disabled, :disabled .rcx-button--primary {
		background-color: var(--secondary-ctext);
		border-color: var(--secondary-ctext);
	}
	
	.rcx-button.hover, .rcx-button.is-hovered, .rcx-button:hover {
	 background-color: inherit;   
	}
	
	.rcx-button--primary-danger.hover, .rcx-button--primary-danger.is-hovered, .rcx-button--primary-danger:hover {
	   border-color: var(--rcx-button-colors-danger-hover-border-color,var(--rcx-color-danger-600,#db0c27));
	   box-shadow: 0px 0px 2px 2px var(--rcx-button-colors-danger-hover-border-color,var(--rcx-color-danger-600,#db0c27)),inset 0px 0px 2px 2px var(--rcx-button-colors-danger-hover-border-color,var(--rcx-color-danger-600,#db0c27));
	}
	
	/*Apply new styling to accordeon items*/
	
	.rcx-accordion-item__bar[tabindex].hover, .rcx-accordion-item__bar[tabindex]:hover {
		box-shadow: 0px 0px 2px 2px rgba(255,255,255,.5),inset 0px 0px 2px 2px rgba(255,255,255,.5);
		background: var(--highlight-ctext);
		color: var(--alternative-ctext);
	}
	
	.rcx-accordion-item__bar {
		background: var(--highlight-ctext);
		color: var(--alternative-ctext);
		font-weight: bold;
		border: none;
		padding: .3em;
		min-height: unset;
	}
	
	.rcx-accordion-item {
		border-color: var(--highlight-ctext);
		border-width: 2px;
		margin: .3em 0;
	}
	
	.rcx-accordion {
		border: none;
	}
	
}
